#project-header
    img(src="/images/event/barcamp_header.jpg" alt="Barcamp Header")

#project-details
    .row
        .col-md-3.col-md-offset-1
            h2#project-title Barcamp Alsace
            p#project-tags Dernier lieu : La Plage Digitale
            //- a#project-url http://barcampalsace10.herokuapp.com/

        .col-md-7
            p.
                Un BarCamp est une non-conférence, un atelier ouvert et participatif dont le contenu est proposé et
                partagé par tous les participants le jour même de l'évènement. On ne vient pas pour un contenu en
                particulier mais pour partager, rencontrer des pionniers de l'inévitable et se laisser surprendre
                par ce qui sera proposé ici et maintenant.
            p.
                Les participants de tous horizons sont invités à présenter leurs projets, leurs idées,
                les informations qui les animent, les questions qui les taraudent ou leurs réalisations...

            p   Attention, ici pas de spectateurs, celui qui franchit le seuil est un participant!

            p   Alsace Digitale fournit les éléments matériels et le reste c'est vous...