#project-header
    img(src="/images/event/demonight.jpg" alt="Demonight Header")

#project-details
    .row
        .col-md-3.col-md-offset-1
            h2#project-title Demonight
            p#project-client Prochaine édition : ???
            p#project-tags Lieu ???
            a#project-url http://???

        .col-md-7
            p Please fill in a description