#project-header
    img(src="/images/event/hhc_header.jpg" alt="DigitalHealthCamp Header")

#project-details
    .row
        .col-md-3.col-md-offset-1
            h2#project-title Hacking Health @ DigitalHealthCamp
            h3#project-motto 54h pour innover en santé en réunissant des geeks et des professionnels de santé
            p#project-client Prochaine édition : 28-30 mars 2014
            p#project-tags Faculté de médecine de Strasbourg
            a#project-url http://digitalhealthcamp.eu/

        .col-md-7
            p.
                Notre idée : faire émerger des solutions numériques innovantes en santé en provoquant des échanges et
                collaborations créatives directes entre “ceux qui fabriquent” (les développeurs et designers) et
                “ceux qui utilisent” (les professionnels de santé, les praticiens hospitaliers).
            p.
                À partir des défis proposés, des équipes se constituent pour concevoir des solutions logicielles ou
                matérielles.
            p.
                Sur un week-end, ils collaborent sur des idées, conçoivent des prototypes et apprennent ensemble à
                construire leur vision du futur pour la santé.
            p.
                Plus d’informations sur <a href="http://digitalhealthcamp.eu">http://digitalhealthcamp.eu</a>
            p.
                Pour être tenu informé vous pouvez vous inscrire sur la <a href="http://eepurl
                .com/Gbes1">mailing-list</a> et nous suivre sur <a href="http://twitter
                .com/digitalhealthcp">Twitter</a>, <a href="https://www.facebook.com/digitalhealthcamp">Facebook</a>
                et <a href="https://plus.google
                .com/u/1/b/116340191957345593804/116340191957345593804/posts">Google+</a>.