#project-header
    img(src="/images/event/hhc_header.jpg" alt="DigitalHealthCamp Header")

#project-details
    .row
        .col-md-3.col-md-offset-1
            h2#project-title Hacking Health Camp
            h3#project-motto 54h pour innover en santé en réunissant des geeks et des professionnels de santé

        .col-md-7
            p.
                Le Hacking Health Camp est un événement incontournable qui réunit des professionnels du monde entier. Il a été développé par Alsace Digitale mais vole depuis quelques années de ses propres ailes et est organisé par Heath Factory. 
            p.
                Reposant sur le principe d’un hackathon, les professionnels de santé, patients, développeurs, designers et entrepreneurs se réunissent le temps d’un week-end pour relever les défis proposés et créer des prototypes qui iront briser les barrières de l’innovation.