#project-header
    img(src="/images/event/hhc_header.jpg" alt="DigitalHealthCamp Header")

#project-details
    .row
        .col-md-3.col-md-offset-1
            h2#project-title Hacking Health @ DigitalHealthCamp
            h3#project-motto 54h pour innover en santé en réunissant des geeks et des professionnels de santé
            p#project-client Dernière édition : 17-20 mars 2016
            p#project-tags Faculté de médecine de Strasbourg
            a#project-url (href="http://digitalhealthcamp.eu/") http://digitalhealthcamp.eu/

        .col-md-7
            p.
                Le Hacking Health Camp, c’est quatre jours pour innover au service de la santé. Un événement
                incontournable qui réunit des professionnels du monde entier. Après le succès de l’édition 2015, 
                il est de retour à Strasbourg du 17 au 20 mars 2016.
            p.
                Au programme : des conférences sur l’avenir de la santé, des formations sur le plan technique, 
                design et le cadre médico-légal. Mais aussi et surtout : le plus gros hackathon d’Europe. Le principe 
                reste le même : professionnels de santé, patients, développeurs, designers et entrepreneurs se 
                réunissent le temps d’un week-end pour relever les défis proposés et créer des prototypes qui iront 
                briser les barrières de l’innovation. Le principe du défi est de présenter une problématique médicale 
                susceptible d’être résolue, ou du moins en partie, par une approche numérique (logicielle ou matérielle 
                ou les 2). Une seule condition pour proposer un défi, s’inscrire à l’événement et au site Sparkboard !
            p.
                Chaque jour, le Hacking Health Camp crée un espace collaboratif entre professionnels de santé, patients, 
                designers, hackers, makers et entrepreneurs. En d’autres termes, il est ce lien entre ceux qui portent 
                un projet, ceux qui aspirent à l’utiliser et ceux qui sont en capacité de le fabriquer. L’évènement 
                est destiné à toutes les personnes intéressées par les nouvelles technologies et leur potentiel apport 
                dans le monde de la santé. C’est le lieu de l’innovation par l’action. 
            p.
                Plus d’informations sur <a href="http://digitalhealthcamp.eu">http://digitalhealthcamp.eu</a>
            p.
                Pour être tenu informé vous pouvez vous inscrire sur la <a href="http://eepurl
                .com/Gbes1">mailing-list</a> et nous suivre sur <a href="http://twitter
                .com/digitalhealthcp">Twitter</a>, <a href="https://www.facebook.com/digitalhealthcamp">Facebook</a>
                et <a href="https://plus.google
                .com/u/1/b/116340191957345593804/116340191957345593804/posts">Google+</a>.
