#project-header
    img(src="/images/plage.jpg" alt="Edgefest Header")

#project-details
    .row
        .col-md-3.col-md-offset-1
            h2#project-title Edge Fest
            p#project-client En Juillet
            p#project-tags Différents lieux

        .col-md-7
            p Evènement phare du début des vacances la Edge Fest c'est vraiment trop de la bombe.
