#project-header
    img(src="/images/event/edgefest_header.jpg" alt="Edgefest Header")

#project-details
    .row
        .col-md-3.col-md-offset-1
            h2#project-title Festival EdgeFest
            p#project-client Début Juillet chaque année !
            p#project-tags Presqu'île Malraux
            a#project-link(href="https://www.facebook.com/EdgeFestStrasbourg") Page FB de EdgeFest

        .col-md-7
            p.
                Vous l’attendez avec impatience ? EdgeFest revient chaque année  pour faire vibrer la Presqu’île Malraux et ses environs.
            p.
                Jeunes ou moins jeunes, inventeurs du dimanche ou amateurs de nouvelles technologies, startupers accomplis ou grands rêveurs,  retrouvons nous tous pour faire rayonner Strasbourg en ce début d’été. Quoi de mieux que de déambuler entre les robots et les animations au bord de l’eau ? C’est ça, la formidable aventure Edgefest : une invitation aux rencontres, à la réflexion, à la découverte et à la fête ; une ôde à la créativité !
            p.
                Faisons de Strasbourg le temps de deux semaines le théâtre de nos inventions. En quelques jours devenons des développeurs en herbe, des bidouilleurs audacieux, des penseurs du monde de demain. Et qui de mieux que des startupers, génies du code et artistes de tous horizons afin de faire vivre ce festival ?
            p.
                Pour finir en beauté, EdgeNight clôture les festivités avec une soirée sur les notes d’un DJ set envoûtant.
            p.
                Alors embarquez dans cette expérience particulière et unique dans la région ! 
            p.
                Organisé par Alsace Digitale, le festival est gratuit et ouvert à tous.

