#project-header
    img(src="/images/event/edgefest_header.jpg" alt="Edgefest Header")

#project-details
    .row
        .col-md-3.col-md-offset-1
            h2#project-title Edge Fest
            p#project-client En Juillet
            p#project-tags Différents lieux
            a#project-link http://www.edgefest.fr/

        .col-md-7
            p De Edge (à la périphérie) et Fest (festival), Edgefest est l’évènement de la communauté numérique et créative de Strasbourg.
            p.
                EdgeFest est organisé par Alsace Digitale et le Shadok ainsi que différents partenaires constituant la
                communauté numérique et créative de Strasbourg.
            p.
                Le festival propose des rendez-vous variés et novateurs autour des thèmes de l’innovation, du numérique,
                de l’entrepreneuriat, de l’art et de la culture.
            p.
                Ce festival a pour ambition de démontrer le potentiel que le croisement de ces différentes disciplines
                peut générer, en termes de créativité comme de développement économique.
            p.
                Fondé sur les principes du coworking, de la collaboration, de la co-construction et de la co-création,
                EdgeFest by Alsace Digitale s’adresse aux développeurs, entrepreneurs, artistes, designers,
                mais aussi aux tarabiscoteurs, inventeurs et joueurs.

            p.
                Retrouvez-nous chaque année au tout début de l'été.