#project-header
    img(src="/images/plage.jpg" alt="Edgefest Header")

#project-details
    .row
        .large-3.large-offset-1.columns
            h2 Edge Fest
            p En Juillet
            p Différents lieux

        .large-7.columns.end
            p Evènement phare du début des vacances la Edge Fest c'est vraiment trop de la bombe.
