#project-header
    img(src="/images/event/edgefest_header.jpg" alt="Edgefest Header")

#project-details
    .row
        .col-md-3.col-md-offset-1
            h2#project-title Edge Fest
            p#project-client En Juillet
            p#project-tags Différents lieux
            a#project-link(href="http://www.edgefest.fr/") http://www.edgefest.fr/

        .col-md-7
            p.
                Inventif, collaboratif et festif, le numérique a son rendez-vous tout public à Strasbourg EDGEFEST. 
                C’est une manifestation qui s’inscrit dans la programmation estivale de la Ville et l’Eurometropole 
                Strasbourg en réinvestissant son territoire, la Presqu’île Malraux.
            p.
                Ce festival des communautés numériques et créatives, invite startupers, inventeurs et curieux à échanger 
                autour des dernières avancées technologiques.
                Les technologies numériques font partie de notre quotidien et pourtant elles continuent à intriguer. 
                En découvrant leur potentiel, celles-ci deviennent plus ludiques, intelligentes et sensibles. Edgefest 
                c’est le parti pris du jeu, de l’artistique et du créatif. 
            p.
                Des ateliers à destination d’adultes, d’enfants et d’adolescents, des démonstrations, des rencontres 
                permettront à chacun de participer à ce mouvement d’échange et de collaboration.
                Game Jam et Kino Jam sont emblématiques de cette invitation à participer au processus de création. Des 
                moments conviviaux où - à la manière d’une Jam session en jazz - chacun est amené à prendre part avec 
                son point de vue, celui du spectateur, du joueur, du développeur, du designer… car la création numérique 
                est justement le fruit de toutes les idées.
            p.
                Et toujours au cœur d’Edgefest, une EdgeNight disjonctée avec aux manettes les équipes survitaminées de 
                Panimix et AVExciters. La façade de la Médiathèque Malraux prendra des airs de cathédrale à admirer 
                depuis les transats de la plage.
            p.
                EdgeFest se décline en plusieurs évènements autour de la Presqu’île Malraux. Tous les évènements sont 
                gratuits et ouverts à tous publics.
