#project-header
    img(src="/images/event/global-game-jam.jpg" alt="Global Game Jam Header")

#project-details
    .row
        .col-md-3.col-md-offset-1
            h2#project-title Global Game Jam
            p#project-client Prochaine édition : date à définir
            p#project-tags Lieu : lieu à définir
            a#project-url http://ggj-strasbourg.fr/

        .col-md-7
            p L'édition strasbourgeoise de la Global Game Jam est organisée par Alsace Digitale, Epitech et son association Game Dev Group
