#project-header
    img(src="/images/event/ggj_header.jpg" alt="Global Game Jam Header")

#project-details
    .row
        .col-md-3.col-md-offset-1
            h2#project-title Global Game Jam
            p#project-client Prochaine édition : 20-22 janvier 2017
            p#project-tags Lieu : Le Shadok
            a#project-url(href="http://ggj-strasbourg.fr/") http://ggj-strasbourg.fr/

        .col-md-7
            p.
                L’édition 2016 qui s’est déroulée à Strasbourg a eu lieu à deux endroits : à La Ludus Académie (organisé par 
                Ludus Académie / Ludus Entertainement Students) et au Shadok (co-organisé par Alsace Digitale et Epitech). Cet 
                évènement fut mis en place grâce à la collaboration du Game Dev Group de Strasbourg, Alsace Digitale et Epitech. 
            p.
                La Global Game Jam est le plus large évènement mondial, qui rassemble des professionnels et des amateurs de 
                l’univers du virtuel. Pendant 48h et de manière simultanée dans le monde, diverses équipes se rassemblent afin de 
                créer un jeu vidéo. 
            p.
                Contrairement aux apparences ce n’est pas une compétition. Un thème est donné en début d’aventure et les équipes 
                auront deux jours pour exprimer leur créativité et essayer de nouvelles technologies. 
            p.
                Cet évènement rassemble des talents multiples (développeurs, artistes, infographistes,…), le but étant de permettre 
                à des personnes de formations complètement différentes de collaborer sur un projet. 
            p.
                En 2016, la Global Game Jam aura rassemblée plus de 36 000 jammers à travers 93 pays, qui auront mis au point près 
                de 6800 jeux vidéo. 
            p.
                La Global Game Jam de 2017 se déroulera du vendredi 20 au dimanche 22 janvier. Plus d’informations à venir. 
