#project-header
    img(src="/images/event/hacksxb_header.jpg" alt="HackSXB Header")

#project-details
    .row
        .col-md-3.col-md-offset-1
            h2#project-title HackSXB
            h3#project-motto Talk is cheap, show me the code
            p#project-client Le dernier vendredi de chaque mois
            //- p#project-tags Différents lieux
            a#project-url(href="http://www.hacksxb.com/") http://www.hacksxb.com/
            a#project-url(href="https://www.facebook.com/groups/402624123157676/") Page Facebook HackSXB

        .col-md-7
    
            p.
                Le HackSXB est une communauté dynamique réunissant étudiants et public actif et qui organise chaque vendredi du mois une soirée dédiée à la programmation sur des sujets libres ou parfois plus thématiques. Chaque personne peut venir avec son projet ou bien participer à un projet commun.
            p.
                Cette communauté représente l’essence même de l’esprit critique d’Alsace Digitale et est pour ainsi dire le lieu idéal pour dialoguer avec la sphère des makers et ainsi partager des données, des compétences, de l’information et faire vivre cette communauté ! 
            p.
                L’idée de partage et d’entraide sont des concepts qui vont vivre cette communauté et donne ainsi naissance à des projets formidables comme une “boite inutile” lors d’une activité initiée par des membres de la Fabrique, un pong géant au laser pour l’inauguration du Shadok ou encore un jeu pour Edgefest "Hop'nSplash".
            p.
                L’affluence moyenne est d’une quinzaine de personnes, avec des pointes à 20-25. Ces membres participent également régulièrement aux hackathons organisés par d’Alsace Digitale : Hacking Health Camp, Hacking Industry Camp ou Geeks on a Farm.