#project-header
    img(src="/images/event/barcamp.jpg" alt="Hack The Culture Header")

#project-details
    .row
        .col-md-3.col-md-offset-1
            h2#project-title Hack The Culture
            p#project-client Prochaine édition : ???
            p#project-tags Lieu ???
            a#project-url http://???

        .col-md-7
            p.
                Une journée ouverte de rencontres, de passerelles, de croisements et de transferts de connaissances entre
                artistes, programmeurs, hackers, créateurs, entrepreneurs, spectateurs, rêveurs, en lien avec les cultures
                numériques.
            p.
                Participer à HackTheCulture, c'est partager des réalisations, des recherches et des rêves,
                et surtout croiser et échanger les diverses approches des nouveaux outils.
            p.
                Qu'est-ce qu'un BarCamp ? C'est une non-conférence, un atelier ouvert et participatif dont le contenu
                 est proposé et partagé par tous les participants. Tous le monde est invité à présenter un projet,
                 une idée ou une réalisation... Le principe qui régit un open forum (comme tous les Barcamps) est : «
                  pas de spectateurs, tous participants ».
