#project-header
    img(src="/images/event/hacksxb_header.jpg" alt="HackSXB Header")

#project-details
    .row
        .col-md-3.col-md-offset-1
            h2#project-title HackSXB
            h3#project-motto Talk is cheap, show me the code
            p#project-client Le dernier vendredi de chaque mois
            p#project-tags Différents lieux
            a#project-url(href="http://www.hacksxb.com/") http://www.hacksxb.com/

        .col-md-7
            p HackSXB est un mini-hackathon se déroulant chaque mois à La Plage Digitale.
            p.
                C'est est une communauté particulièrement active qui mobilise autant les étudiants qu’un 
                public actif. Organisé les derniers vendredis de chaque mois, le HackSXB est une soirée dédiée 
                à la programmation. Sur des sujets libres ou parfois plus thématiques. Chacun vient avec son 
                projet ou participe à un projet commun.
            p.
                C’est également l’esprit critique d’Alsace Digitale, le lieu du détournement (d’objet ou de process), 
                l’espace de dialogue avec la sphère des makers. Partage des données, mutualisation des compétences, 
                décentralisation, libre circulation de l’information… les principes du hacking sont les moteurs de 
                cette communauté.
            p.
                Les membres de cette communauté ont réalisé entre autres cette année un atelier « boîte inutile » initié 
                par des membres de la Fabrique, un pong géant au laser pour l’inauguration du Shadok, un jeu pour Edgefest 
                « Straliens Millenium ».
            p.
                L’objectif pour 2016 est d’arriver à augmenter les membres de cette communauté de hackers. Pour cela, il 
                est important de développer sa visibilité et sa notoriété, d’arriver à fédérer d’autres initiatives et 
                d’autres compétences et de pouvoir proposer des rendez-vous plus réguliers. 
                L’idée étant de s’approprier les choses collectivement, des liens avec les membres du Hackstub, des équipes 
                de robotiques et avec la Fabrique ont été créés. Des projets communs devraient voir le jour.
            p.
                L’objectif est de créer une récurrence plus importante pour cristalliser notre communauté, avoir une notion 
                de club où des gens peuvent se réunir régulièrement. Les HackSXB se tiennent autant à la plage qu’au Shadok 
                ou dans les lieux partenaires. L’affluence moyenne est d’une quinzaine de personnes, avec des pointes à 20-25. 
                Ces membres participent aux événements d’Alsace Digitale : Hacking Health Camp, Hacking Industry Camp ou Geeks 
                on a Farm.
            p.
                En 2016, nous souhaiterions reproposer un nouveau « Hack Le Chalet », dont la première édition a eu lieu en 2013 
                et avait rassemblé une vingtaine de participants. Ce serait un événement de type hackathon qui ferait se rencontrer 
                des développeurs et des makers autour de sujets libres pour qu’ils développent des prototypes en un week-end. En 
                leur assurant le gîte et le couvert, nous leur permettons de se concentrer sur l’essentiel : produire un prototype 
                fonctionnel durant un week-end. Cette création d’équipe autour d’un projet commun permet de créer des liens forts 
                entre les personnes et renforce leur confiance en leur capacité à créer et à être autonome.
            

