#project-header
    img(src="/images/event/hacklechalet.jpg" alt="Hack Le Chalet Header")

#project-details
    .row
        .col-md-3.col-md-offset-1
            h2#project-title Hack Le Chalet
            h3#project-motto 48 hours of hacking, in a chalet. Build things. Get prizes.
            p#project-client Dernière édition : 24-26 mai 2013
            p#project-tags Dernière édition lieu : vallée de Munster
            a#project-url http://www.hacklechalet.com/

        .col-md-7
            p "Hack Le Chalet" est un hackathon, c'est à dire un marathon pour les développeurs.
            p.
              Le principe est de produire quelque chose de fonctionnel (logiciel, matériel) en 48h,
                tout en respectant un principe simple : tout doit avoir été réalisé seulement pendant
                le temps du concours. Il est autorisé de préparer l'évènement à l'avance, c'est à dire
                y réfléchir, mais aucun code, montage électronique ne doit avoir été produit avant le
                début de l'évènement.
            p.
              C'est un évènement payant, avec des prix à la clé. L'hébergement et les repas sont compris
                dans le ticket d'entrée.
