#project-header
    img(src="/images/event/hic_header.jpg" alt="Hacking Industry Camp Header")

#project-details
    .row
        .col-md-3.col-md-offset-1
            h2#project-title Hacking Industry Camp
            p#project-client Prochaine édition : ???
            p#project-tags Lieu ???
            a#project-url http://???

        .col-md-7
            p.
                Description du Hacking Industry Camp
