#project-header
    img(src="/images/event/hacksxb_header.jpg" alt="HackSXB Header")

#project-details
    .row
        .col-md-3.col-md-offset-1
            h2#project-title HackSXB
            h3#project-motto Talk is cheap, show me the code
            p#project-client Le dernier vendredi de chaque mois
            p#project-tags Différents lieux
            a#project-url https://www.facebook.com/HackSXB

        .col-md-7
            p HackSXB est un mini-hackathon se déroulant chaque mois à La Plage Digitale.
            p.
              Chacun est invité à venir travailler sur ses propres projets, dans une ambiance d'émulation et de
              collaboration.
            p Des thèmes ou des mini-présentations sont également régulièrement proposés.
            p Le principe de l'évènement est simple : pas de blabla, seul le code fait foi !

