#project-header
    img(src="/images/event/hic_header.jpg" alt="Hacking Industry Camp Header")

#project-details
    .row
        .col-md-3.col-md-offset-1
            h2#project-title Hacking Industry Camp
            p#project-client Prochaine édition : 13 au 15 octobre 2018
            p#project-tags Lieu : INSA Strasbourg
            a#project-url(href="http://www.hackingindustry.camp/") http://www.hackingindustry.camp/

        .col-md-7
            h3 Hacking Industry Camp : inventer l’énergie de demain
            p
                strong IDENTIFIER LES PROJETS
            p.
                Créer des dynamiques d'innovation internes ou externes.
            p
                strong FÉDÉRER LES POTENTIELS
            p.
                Un hackathon est un moment FUN. Le mode défi rassemble et démultiplie les énergies.
            p
                strong STIMULER LA CRÉATIVITÉ COLLECTIVE
            p.
                Découvertes, rencontres, surprises. Un hackathon c'est sortir de sa zone de confort.
                
            h3 A PROPOS
            p.
                Le Hacking Industry Camp est un hackathon dédié à l’industrie, un évènement destiné à 
                bousculer les idées et à faire émerger de nouveaux projets. Des équipes aux divers talents 
                s’affrontent pendant tout un week-end pour concevoir des prototypes d’applications, d’objets 
                connectés… C’est un espace-temps où les communautés se croisent et fourmillent d’idées avec 
                pour objectif l’innovation !
            p
                strong POINTER LES PROJETS ÉMERGENTS
            p.
                54 h pour participer à l’aventure Usine 4.0. Déplacer l’industrie dans ses fondements, 
                l’interroger sur ses process, la rendre plus agile, plus inventive.
            p
                strong GÉNÉRATION MÊME PAS PEUR
            p.
                54 h pour innover à plusieurs. Un concentré d’énergie créative de tous bords : développeurs, 
                ingénieurs, designers, bricoleurs, utilisateurs, marketeurs…
            p
                strong IDÉES D'AUJOURD'HUI, ENTREPRISES DE DEMAIN
            p.
                54 h pour démultiplier les idées, les faire émerger, les concrétiser et donner naissance à 
                des projets innovants qui se poursuivront, soit par la création de startup, soit au sein 
                d’entreprises existantes.
                
            h3 COMMENT ÇA MARCHE
            p
                strong 1) LE PITCH
            p.
                Les défis sont présentés aux participants par leur porteur respectif.
            p
                strong 2) LE CHOIX DES PROJETS
            p.
                Les gens votent pour les défis qui leur plaisent le plus, et forment des équipes autour 
                des projets.
            p
                strong 3) LA CONSTRUCTION
            p.
                Les équipes travaillent sur leur projet.
            p
                strong 4) LA PRÉSENTATION FINALE
            p.
                Le projet est présenté face à un jury composé de professionnels qui élisent les meilleurs 
                projets.

            
