extends layout

block content
    body.pictured
        #page
            a(href='https://github.com/alsacedigitale/alsacedigitale.org')
                img(style="position: absolute; top: 0; right: 0; border: 0;",
                    src="https://github-camo.global.ssl.fastly.net/365986a132ccd6a44c23a9169022c0b5c890c387/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67",
                    alt="Fork me on GitHub",
                    data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png")

            header#header.smooth
                .row
                    .col-xs-12
                        #intro.text-container
                            #logo
                                img(id='img_logo', alt='logo', src='images/logo-AD-circular.png')

                            #explore
                                a.scroll(href='#team')
                                    i.icon-angle-down.icon-4x

            #top-bar
                .container
                    .row
                        .col-md-4
                            #logo-lettering
                                a.scroll(href='#header')
                                    img(alt='Alsace Digitale', src='images/logo-AD.png')

                            #menu-mobile.hidden-md.hidden-lg
                                i.icon-reorder.icon-2x
                        .col-md-8
                            nav#top-navigation
                                ul.list-inline
                                    li
                                        a(href='http://inscription.alsacedigitale.org') ADHERER
                                    li
                                        a(href='#team') L'EQUIPE
                                    li
                                        a(href='#plage') LA PLAGE
                                    li
                                        a(href='#works') LES EVENEMENTS
                                    li
                                        a(href='#feed') SOCIAL
                                    li
                                        a(href='#contacts') CONTACT

            section#team
                .row
                    .col-xs-12.col-sm-6.col-sm-offset-3.intro
                        h1 L'EQUIPE.
                        p.
                            Alsace Digitale, c'est avant tout une équipe de passionnés qui s'investissent énormément
                            pour animer le tissu économique local. Nos actions sont possibles grâce à l'implication
                            de nos bénévoles.
                        p   A ce titre, nous avons toujours à coeur&nbsp;
                            a(href="http://inscription.alsacedigitale.org/")
                                | d'accueillir toutes les bonnes volontés.

                .container.row
                    .col-xs-6.col-sm-6.col-md-3.member
                        .member-photo
                            .image
                                img(src='/images/team/stephane.jpg', alt='Stéphane Becker')
                            .image-hover
                                img(src='/images/team/stephane.jpg', alt='Stéphane Becker')
                            .member-hover.hidden-xs.hidden-sm
                                .list-container
                                    ul.list-inline.social
                                        li
                                            a(href='http://facebook.com/stephane.becker',target='_blank')
                                                i.icon-facebook.icon-3x
                                        li
                                            a(href='http://twitter.com/whirlyvonelsass',target='_blank')
                                                i.icon-twitter.icon-3x
                                        li
                                            a(href='http://www.linkedin.com/in/stephanebecker', target='_blank' )
                                                i.icon-linkedin.icon-3x
                        h5 Stéphane Becker
                        p Président
                        .list-container.visible-xs.visible-sm
                            ul.list-inline
                                li
                                    a(href='http://facebook.com/stephane.becker',target='_blank')
                                        i.icon-facebook.icon-2x
                                li
                                    a(href='http://twitter.com/whirlyvonelsass',target='_blank')
                                        i.icon-twitter.icon-2x
                                li
                                    a(href='http://www.linkedin.com/in/stephanebecker', target='_blank' )
                                        i.icon-envelope.icon-2x
                    .col-xs-6.col-sm-6.col-md-3.member
                        .member-photo
                            .image
                                img(src='/images/team/yann.jpg', alt='Yann Klis')
                            .image-hover
                                img(src='/images/team/yann.jpg', alt='Yann Klis')
                            .member-hover.hidden-xs.hidden-sm
                                .list-container
                                    ul.list-inline.social
                                        li
                                            a
                                                i.icon-facebook.icon-3x
                                        li
                                            a
                                                i.icon-twitter.icon-3x
                                        li
                                            a
                                                i.icon-linkedin.icon-3x
                        h5 Yann Klis
                        p Vice Président
                        .list-container.visible-xs.visible-sm
                            ul.list-inline
                                li
                                    a
                                        i.icon-facebook.icon-2x
                                li
                                    a
                                        i.icon-twitter.icon-2x
                                li
                                    a
                                        i.icon-linkedin.icon-2x
                    .col-xs-6.col-sm-6.col-md-3.member
                        .member-photo
                            .image
                                img(src='/images/team/sebastien.jpg', alt='Sébastien Letélié')
                            .image-hover
                                img(src='/images/team/sebastien_hover.jpg', alt='Sébastien Letélié')
                            .member-hover.hidden-xs.hidden-sm
                                .list-container
                                    ul.list-inline.social
                                        li
                                            a(href='http://facebook.com/sebmade',target='_blank')
                                                i.icon-facebook.icon-3x
                                        li
                                            a(href='http://twitter.com/sebmade',target='_blank')
                                                i.icon-twitter.icon-3x
                                        li
                                            a(href='http://linkedin.com/in/sebmade',target='_blank')
                                                i.icon-linkedin.icon-3x
                        h5 Sébastien Letélié
                        p Trésorier
                        .list-container.visible-xs.visible-sm
                            ul.list-inline
                                li
                                    a
                                        i.icon-facebook.icon-2x
                                li
                                    a
                                        i.icon-twitter.icon-2x
                                li
                                    a
                                        i.icon-linkedin.icon-2x
                    .col-xs-6.col-sm-6.col-md-3.member
                        .member-photo
                            .image
                                img(src='/images/team/yannick.jpg', alt='Yannick Jost')
                            .image-hover
                                img(src='/images/team/yannick.jpg', alt='Yannick Jost')
                            .member-hover.hidden-xs.hidden-sm
                                .list-container
                                    ul.list-inline.social
                                        li
                                            a(href='http://facebook.com/yannick.jost')
                                                i.icon-facebook.icon-3x
                                        li
                                            a(href='http://twitter.com/yanjost')
                                                i.icon-twitter.icon-3x
                                        li
                                            a(href='http://www.linkedin.com/in/yannickjost')
                                                i.icon-linkedin.icon-3x
                        h5 Yannick Jost
                        p Secrétaire
                        .list-container.visible-xs.visible-sm
                            ul.list-inline
                                li
                                    a
                                        i.icon-facebook.icon-2x
                                li
                                    a
                                        i.icon-twitter.icon-2x
                                li
                                    a
                                        i.icon-linkedin.icon-2x
                .container.row
                    .col-xs-6.col-sm-6.col-md-3.member
                        .member-photo
                            .image
                                img(src='/images/team/emmanuelle.jpg', alt='Emmanuelle Ebel-Jost')
                            .image-hover
                                img(src='/images/team/emmanuelle.jpg', alt='Emmanuelle Ebel-Jost')
                            .member-hover.hidden-xs.hidden-sm
                                .list-container
                                    ul.list-inline.social
                                        li
                                            a(href='http://www.linkedin.com/pub/emmanuelle-ebel/14/90/722')
                                                i.icon-linkedin.icon-3x
                                        li
                                            a(href='http://www.adoc-metis.com')
                                                i.icon-link.icon-3x
                        h5 Emmanuelle Ebel-Jost
                        p Assesseur
                        .list-container.visible-xs.visible-sm
                            ul.list-inline
                                li
                                    a
                                        i.icon-facebook.icon-2x
                                li
                                    a
                                        i.icon-twitter.icon-2x
                                li
                                    a
                                        i.icon-envelope.icon-2x
                    .col-xs-6.col-sm-6.col-md-3.member
                        .member-photo
                            .image
                                img(src='/images/team/pascal.jpg', alt='Pascal Bastien')
                            .image-hover
                                img(src='/images/team/pascal.jpg', alt='Pascal Bastien')
                            .member-hover.hidden-xs.hidden-sm
                                .list-container
                                    ul.list-inline.social
                                        li
                                            a
                                                i.icon-facebook.icon-3x
                                        li
                                            a
                                                i.icon-twitter.icon-3x
                                        li
                                            a
                                                i.icon-linkedin.icon-3x
                        h5 Pascal Bastien
                        p Vice-président, Coach
                        .list-container.visible-xs.visible-sm
                            ul.list-inline
                                li
                                    a
                                        i.icon-facebook.icon-2x
                                li
                                    a
                                        i.icon-twitter.icon-2x
                                li
                                    a
                                        i.icon-linkedin.icon-2x
                    .col-xs-6.col-sm-6.col-md-3.member
                        .member-photo
                            .image
                                img(src='/images/team/sandrine.jpg', alt='Sandrine Hilaire')
                            .image-hover
                                img(src='/images/team/sandrine.jpg', alt='Sandrine Hilaire')
                            .member-hover.hidden-xs.hidden-sm
                                .list-container
                                    ul.list-inline.social
                                        li
                                            a
                                                i.icon-facebook.icon-3x
                                        li
                                            a
                                                i.icon-twitter.icon-3x
                                        li
                                            a
                                                i.icon-linkedin.icon-3x
                        h5 Sandrine Hilaire
                        p Chargée de projets
                        .list-container.visible-xs.visible-sm
                            ul.list-inline
                                li
                                    a
                                        i.icon-facebook.icon-2x
                                li
                                    a
                                        i.icon-twitter.icon-2x
                                li
                                    a
                                        i.icon-linkedin.icon-2x
                    .col-xs-6.col-sm-6.col-md-3.member
                        .member-photo
                            .image
                                img(src='/images/team/caroline.jpg', alt='Caroline Boehrer')
                            .image-hover
                                img(src='/images/team/caroline.jpg', alt='Caroline Boehrer')
                            .member-hover.hidden-xs.hidden-sm
                                .list-container
                                    ul.list-inline.social
                                        li
                                            a
                                                i.icon-facebook.icon-3x
                                        li
                                            a
                                                i.icon-twitter.icon-3x
                                        li
                                            a
                                                i.icon-linkedin.icon-3x
                        h5 Caroline Boehrer
                        p Secrétaire adjointe
                        .list-container.visible-xs.visible-sm
                            ul.list-inline
                                li
                                    a
                                        i.icon-facebook.icon-2x
                                li
                                    a
                                        i.icon-twitter.icon-2x
                                li
                                    a
                                        i.icon-linkedin.icon-2x
                .container.row
                    .col-xs-6.col-sm-6.col-md-3.member
                        .member-photo
                            .image
                                img(src='/images/team/jeremy.jpg', alt='Jérémy Kieger')
                            .image-hover
                                img(src='/images/team/jeremy.jpg', alt='Jérémy Kieger')
                            .member-hover.hidden-xs.hidden-sm
                                .list-container
                                    ul.list-inline.social
                                        li
                                            a
                                                i.icon-facebook.icon-3x
                                        li
                                            a
                                                i.icon-twitter.icon-3x
                                        li
                                            a
                                                i.icon-linkedin.icon-3x
                        h5 Jérémy Kieger
                        p Assesseur
                        .list-container.visible-xs.visible-sm
                            ul.list-inline
                                li
                                    a
                                        i.icon-facebook.icon-2x
                                li
                                    a
                                        i.icon-twitter.icon-2x
                                li
                                    a
                                        i.icon-envelope.icon-2x
                    .col-xs-6.col-sm-6.col-md-3.member
                        .member-photo
                            .image
                                img(src='/images/team/kevin.jpg', alt='Kevin Soltysiak')
                            .image-hover
                                img(src='/images/team/kevin.jpg', alt='Kevin Soltysiak')
                            .member-hover.hidden-xs.hidden-sm
                                .list-container
                                    ul.list-inline.social
                                        li
                                            a
                                                i.icon-facebook.icon-3x
                                        li
                                            a
                                                i.icon-twitter.icon-3x
                                        li
                                            a
                                                i.icon-linkedin.icon-3x
                        h5 Kevin Soltysiak
                        p Assesseur
                        .list-container.visible-xs.visible-sm
                            ul.list-inline
                                li
                                    a(href='http://facebook.com/soltysiak.kevin')
                                        i.icon-facebook.icon-2x
                                li
                                    a(href='https://twitter.com/ksol')
                                        i.icon-twitter.icon-2x
                                li
                                    a(href='http://www.linkedin.com/in/ksoltysiak')
                                        i.icon-linkedin.icon-2x
            section#plage
                .row
                    .col-xs-12.col-sm-6.col-sm-offset-3.intro
                        h1 LA PLAGE DIGITALE.
                        p
                            a(href="http://www.laplagedigitale.eu/") La Plage Digitale
                            | &nbsp;est un espace de coworking situé à Strasbourg,
                            | il peut accueillir une trentaine de personnes dans une ambiance de travail conviviale.
                            | L'espace sert aussi de point d'ancrage pour de nombreux évènements d'Alsace Digitale.

                .studio
                    .row
                        .col-xs-12
                            #swiper.swiper-container
                                .swiper-wrapper
                                    .swiper-slide
                                        img(src='/images/plage/la_plage_1.jpg', alt='la plage 1')
                                    .swiper-slide
                                        img(src='/images/plage/la_plage_2.jpg', alt='la plage 2')
                                    .swiper-slide
                                        img(src='/images/plage/la_plage_3.jpg', alt='la plage 3')
                                    .swiper-slide
                                        img(src='/images/plage/la_plage_4.jpg', alt='la plage 3')
                                    .swiper-slide
                                        img(src='/images/plage/la_plage_5.jpg', alt='la plage 3')

            section#works
                .row
                    .col-xs-12.col-sm-6.col-sm-offset-3.intro
                        h1 LES EVENEMENTS
                        p

                #w-filter.row
                    .col-xs-12
                        #work-filter.center-list
                            ul.list-inline.hidden-xs
                                li.filter.active(data-filter='all') tous
                                li.filter(data-filter='entreprenariat') entreprenariat
                                li.filter(data-filter='culture') culture
                                li.filter(data-filter='hacking') hacking
                #work-container.container.row
                    .col-xs-12.col-sm-4.mix.all.culture
                        #work-1.work
                            img(src='/images/event/edgefest2.jpg', alt='work')
                            .work-info
                                h6 Edgefest
                    .col-xs-12.col-sm-4.mix.all.entreprenariat
                        #work-2.work
                            img(src='/images/event/startup-weekend.jpg', alt='work')
                            .work-info
                                h6 Startup Weekend
                    .col-xs-12.col-sm-4.end.mix.all.culture
                        #work-3.work
                            img(src='http://placekitten.com/720/540', alt='work')
                            .work-info
                                h6 Hack The Culture
                    .col-xs-12.col-sm-4.mix.all.hacking
                        #work-4.work
                            img(src='/images/event/hack-sxb.jpg', alt='work')
                            .work-info
                                h6 HackSXB
                    .col-xs-12.col-sm-4.mix.all.entreprenariat
                        #work-5.work
                            img(src='/images/event/demonight.jpg', alt='work')
                            .work-info
                                h6 Demo Night
                    .col-xs-12.col-sm-4.mix.all.hacking
                        #work-6.work
                            img(src='/images/event/devoxx.jpg', alt='work')
                            .work-info
                                h6 Devoxx4Kids
                    .col-xs-12.col-sm-4.end.mix.all.hacking
                        #work-7.work
                            img(src='/images/event/hh-logo.png', alt='work')
                            .work-info
                                h6 Hacking Health @ DigitalHealthCamp
                    .col-xs-12.col-sm-4.mix.all.culture
                        #work-8.work
                            img(src='/images/event/barcamp.jpg', alt='work')
                            .work-info
                                h6 Barcamp Alsace
                    .col-xs-12.col-sm-4.mix.all.hacking
                        #work-9.work
                            img(src='/images/event/hacklechalet.jpg', alt='work')
                            .work-info
                                h6 Hack Le Chalet

            section#feed
                .row
                    .col-xs-12.col-sm-6.col-sm-offset-3.intro
                        h2 SOCIAL FEEDER.
                        p L'ubiquité numérique.
                .row
                    .col-xs-12.col-sm-12
                        ul#social-feed.centerUl
                            li#flickr-feed.active
                                a
                                    i.icon-flickr.icon-4x
                            li#instagram-feed
                                a
                                    i.icon-instagram.icon-4x
                            li#twitter-feed
                                a
                                    i.icon-twitter.icon-4x

                #flickr.row.feed
                #instagram.row.feed
                #twitter.row.feed

            section#contacts
                .row
                    .col-xs-12.col-sm-6.col-sm-offset-3.intro
                        h1 NOUS CONTACTER
                        p Si vous avez des questions, si vous voulez participer à l'aventure Alsace Digitale, vous pouvez nous contacter par le biais de ce formulaire.
                .row
                    .col-xs-12.col-sm-8.col-sm-offset-2
                        form#contact-form(action='/', method='post')
                            .row
                                .col-xs-12.formContainer
                                    input#name.requiredField(type='text', name='name', value='', placeholder='Nom')
                                .col-xs-12.formContainer
                                    input#email.requiredField.email(type='text', name='email', value='', placeholder='Courriel')
                                .col-xs-12.formContainer
                                    textarea#message.requiredField(name='message', rows='20', cols='30', placeholder='Message')
                                .col-xs-12.formContainer
                                    input#submitted.button(type='hidden', name='submitted', value='SEND')
                                    button#submit.btn(type='submit') Envoyer
                                .col-xs-12.formContainer
                                    p#error.alert(data-alert='data-alert') Merci de remplir correctement le formulaire
                                    p#thanks.alert.alert-success(data-alert='data-alert') Merci. Nous vous répondrons dès que possible.
                                    p#timedout.alert(data-alert='data-alert') La connexion au serveur a échoué.
                                    p#state.alert(data-alert='data-alert')
                .row
                    .col-xs-12.col-sm-6.col-sm-offset-3
                        .contact-info
                            .row
                                .col-sm-4.contact
                                    .icon
                                        a
                                            i.icon-envelope.icon-3x
                                    p contact@alsacedigitale.org
                                .col-sm-4.contact
                                    .icon
                                        a(href='https://maps.google.fr/maps?q=la+plage+digitale+strasbourg&hl=fr&sll=48.599123,7.587081&sspn=1.770983,4.22699&hq=la+plage+digitale&hnear=Strasbourg,+Bas-Rhin,+Alsace&t=m&z=15&iwloc=A', targe='_blank')
                                            i.icon-map-marker.icon-3x
                                    p
                                        | La Plage
                                        br
                                        | Strasbourg
                                .col-sm-4.contact
                                    .icon
                                        a
                                            i.icon-phone.icon-3x
                                    p +33 3.88.41.86.95

            footer
                .row
                    .col-xs-12.col-sm-6.col-sm-offset-3
                        hr
                        #social-profiles
                            ul.centerUl
                                li
                                    a(href="https://www.facebook.com/laplagedigitale", target="_blank" )
                                        i.icon-facebook.icon-2x
                                li
                                    a(href='https://twitter.com/laplagedigitale', target='_blank')
                                        i.icon-twitter.icon-2x
                                li
                                    a
                                        i.icon-instagram.icon-2x
                                li
                                    a
                                        i.icon-flickr.icon-2x
                                li
                                    a(href="https://plus.google.com/112928904090839853310/posts", target="_blank")
                                        i.icon-google-plus.icon-2x
                .row
                    .col-xs-12.col-sm-6.col-sm-offset-3
                        p#copyrights Cotton® Made by digitalcookers™. All rights reserved.
        //
           END FOOTER

        #project-page
            #project-top-bar
                .row
                    .col-xs-2
                        #previous-project
                        #previous-project-name
                    .col-xs-8
                        #close-project
                    .col-xs-2
                        #next-project
                        #next-project-name
            #project
