extends layout

block content
    body.pictured
        #page
            header#header.smooth
                .row
                    .col-xs-12
                        #intro.text-container
                            #logo
                                img(id='img_logo', alt='logo', src='images/logo-AD-circular.png')

                            #explore
                                a.scroll(href='#whoarewe')
                                    i.icon-angle-down.icon-4x

            #top-bar
                .container
                    .row
                        .col-md-3
                            #logo-lettering
                                a.scroll(href='#header')
                                    img(alt='Alsace Digitale', src='images/logo-AD.png')

                            #menu-mobile.hidden-md.hidden-lg
                                i.icon-reorder.icon-2x
                        .col-md-9
                            nav#top-navigation
                                ul.list-inline
                                    li
                                        a(href='#whoarewe') L'ASSOCIATION
                                    li
                                        a(href='#plage') COWORKING
                                    li
                                        a(href='#works') ÉVÉNEMENTS
                                    li
                                        a(href='#team') L'ÉQUIPE
                                    li
                                        a(href='#contacts') CONTACT
                                    li
                                        a(href='http://inscription.alsacedigitale.org', target='_blank') ADHÉRER
            section#whoarewe
                .row
                    .col-xs-12.col-sm-10.col-sm-offset-1.intro
                        h1 QUI SOMMES-NOUS ?
                        p.
                            Alsace Digitale est une association ayant pour ambition d’animer et de promouvoir la révolution
                            numérique dans la région Alsace. Soutenue par <a href="http://www.strasbourg.eu">l'Eurométropole de Strasbourg</a>,
                            elle a ouvert à Rivétoile en avril 2012 <a href="http://www.laplagedigitale.eu/">"La Plage Digitale"</a>, le premier espace
                            de coworking de Strasbourg et qui occupe depuis 2015 le deuxième étage du <a href="http://shadok.strasbourg.eu">Shadok</a>.
                        p.
                            C’est en partant d’un constat concret qu’Alsace Digitale est née : à l’heure actuelle, l’Alsace dispose
                            d’une des plus grandes universités de France, d’écoles d’ingénieurs reconnues, d’une forte pénétration
                            d’Internet, et pourtant l’écosystème d’entreprises de type “startup” est faible. Pourtant, des villes 
                            comme Strasbourg disposent d’un environnement qui pourrait s’avérer propice au développement d’un tel 
                            écosystème, surtout en s’appuyant sur des domaines d’excellence locaux comme les biotechs.
                        p.
                            Voilà l’origine de la création de l’association. Le but est clairement défini : développer du tissu
                            économique, créer les conditions propices à l’émergence de nouvelles entreprises, celles 
                            d’aujourd’hui qui seront les histoires à succès de demain. 
                        p.
                            Alsace Digitale ambitionne de construire un écosystème numérique Alsacien, avec son épicentre à 
                            Strasbourg.

                        br
                        br
                        img(src='/images/fta-tr.png', alt='FrenchTech Alsace')


            section#plage
                .row
                    .col-xs-12.col-sm-6.col-sm-offset-3.intro
                        h1 COWORKING À STRASBOURG.
                        p
                            a(href="http://www.laplagedigitale.eu/") La Plage Digitale
                            |, ce sont deux espaces de coworking situés à Strasbourg (15 avenue du Rhin et 26 rue du bassin d'Austerlitz), chaque lieu peut
                            | accueillir une trentaine de personnes dans une ambiance de travail conviviale.
                            | Ces espaces servent aussi de point d'ancrage pour de nombreux évènements d'Alsace Digitale.
                        p
                            a.btn.btn-primary.btn-lg(href='http://www.laplagedigitale.eu/', target='_blank') Découvrir
                            &nbsp; 
                            a.btn.btn-primary.btn-lg(href='http://www.laplagedigitale.eu/nos-tarifs/', target='_blank') Tarifs

                .studio
                    .row
                        .col-xs-12
                            #swiper.swiper-container
                                .swiper-wrapper
                                    .swiper-slide
                                        img(src='/images/plage/la_plage_1.jpg', alt='la plage 1')
                                    .swiper-slide
                                        img(src='/images/plage/la_plage_2.jpg', alt='la plage 2')
                                    //.swiper-slide
                                    //    img(src='/images/plage/la_plage_3.jpg', alt='la plage 3')
                                    .swiper-slide
                                        img(src='/images/plage/la_plage_4.jpg', alt='la plage 3')
                                    .swiper-slide
                                        img(src='/images/plage/la_plage_5.jpg', alt='la plage 3')
                                    .swiper-slide
                                        img(src='/images/plage/la_plage_6.jpg', alt='la plage du shadok')
                                    .swiper-slide
                                        img(src='/images/plage/la_plage_7.jpg', alt='salle de réunion de la plage du shadok')

            section#works
                .row
                    .col-xs-12.col-sm-6.col-sm-offset-3.intro
                        h1 LES ÉVÉNEMENTS & LES COMMUNAUTÉS
                        p

                        #mc_embed_signup
                          form#mc-embedded-subscribe-form.validate(action='//alsacedigitale.us5.list-manage.com/subscribe/post?u=d0f86161d0d69c890bbf3755a&id=f26e2c043e', method='post', name='mc-embedded-subscribe-form', target='_blank', novalidate='')
                            #mc_embed_signup_scroll
                              h2.text-center Tenez-vous informé(e) des prochains événements en vous inscrivant à la newsletter d'Alsace Digitale
                              p.text-center
                                a.btn.btn-default#newsletter-trigger Inscription à la newsletter 
                              #newsletter
                                  .indicates-required
                                    span.asterisk *
                                    |  champ requis
                                  .mc-field-group
                                    label(for='mce-EMAIL')
                                      | Adresse email  
                                      span.asterisk *
                                    input#mce-EMAIL.required.email(type='email', value='', name='EMAIL')
                                  .mc-field-group
                                    label(for='mce-FNAME')
                                      | Prénom  
                                      span.asterisk *
                                    input#mce-FNAME.required(type='text', value='', name='FNAME')
                                  .mc-field-group
                                    label(for='mce-LNAME')
                                      | Nom  
                                      span.asterisk *
                                    input#mce-LNAME.required(type='text', value='', name='LNAME')
                                  .mc-field-group
                                    label(for='mce-MMERGE5') Site web 
                                    input#mce-MMERGE5(type='text', value='', name='MMERGE5')
                                  .mc-field-group
                                    label(for='mce-MMERGE6') Entreprise 
                                    input#mce-MMERGE6(type='text', value='', name='MMERGE6')
                                  .mc-field-group
                                    label(for='mce-MMERGE8')
                                      | Ville  
                                      span.asterisk *
                                    input#mce-MMERGE8.required(type='text', value='', name='MMERGE8')
                                  .mc-field-group
                                    label(for='mce-MMERGE11') Téléphone portable 
                                    input#mce-MMERGE11(type='text', value='', name='MMERGE11')
                                  .mc-field-group.input-group
                                    strong Format des emails
                                    ul
                                      li
                                        input#mce-EMAILTYPE-0(type='radio', value='html', name='EMAILTYPE', checked='checked')
                                        label(for='mce-EMAILTYPE-0') HTML (recommandé)
                                      li
                                        input#mce-EMAILTYPE-1(type='radio', value='text', name='EMAILTYPE')
                                        label(for='mce-EMAILTYPE-1') Texte
                                  #mce-responses.clear
                                    #mce-error-response.response(style='display:none')
                                    #mce-success-response.response(style='display:none')
                                  // real people should not fill this in and expect good things - do not remove this or risk form bot signups
                                  div(style='position: absolute; left: -5000px;', aria-hidden='true')
                                    input(type='text', name='b_d0f86161d0d69c890bbf3755a_f26e2c043e', tabindex='-1', value='')
                                  .clear
                                    input#mc-embedded-subscribe.button(type='submit', value='Valider', name='subscribe')


                #w-filter.row
                    .col-xs-12
                        #work-filter.center-list
                            ul.list-inline.hidden-xs
                                li.filter.active(data-filter='all') tous
                                li.filter(data-filter='communaute') communautés
                                li.filter(data-filter='entreprenariat') entrepreneuriat
                                li.filter(data-filter='culture') culture
                                li.filter(data-filter='hacking') hacking
                                li.filter(data-filter='formation') formation
                #work-container.container.row
                    .col-xs-12.col-sm-4.mix.all.culture
                        #work-1.work
                            img(src='/images/event/edgefest2.jpg', alt='work')
                            .work-info
                                h6 Edgefest
                    .col-xs-12.col-sm-4.mix.all.entreprenariat
                        #work-2.work
                            img(src='/images/event/startup-weekend.jpg', alt='work')
                            .work-info
                                h6 Startup Weekend
                    .col-xs-12.col-sm-4.end.mix.all.hacking
                        #work-3.work
                            img(src='/images/event/hic.jpg', alt='work')
                            .work-info
                                h6 Hacking Industry Camp
                    .col-xs-12.col-sm-4.mix.all.hacking.communaute
                        #work-4.work
                            img(src='/images/event/hack-sxb.jpg', alt='work')
                            .work-info
                                h6 HackSXB
                    .col-xs-12.col-sm-4.mix.all.entreprenariat.communaute
                        #work-5.work
                            img(src='/images/event/demonight.jpg', alt='work')
                            .work-info
                                h6 Strasbourg Startups / Mulhouse Startups
                    .col-xs-12.col-sm-4.mix.all.culture.formation
                        #work-6.work
                            img(src='/images/event/initiationcode.jpg', alt='work')
                            .work-info
                                h6 Play2Code : Initiation au code
                    .col-xs-12.col-sm-4.end.mix.all.hacking
                        #work-7.work
                            img(src='/images/event/hhc.jpg', alt='work')
                            .work-info
                                h6 Hacking Health Camp
                    .col-xs-12.col-sm-4.mix.all.culture
                        #work-8.work
                            img(src='/images/event/barcamp.jpg', alt='work')
                            .work-info
                                h6 Barcamp Alsace
                    .col-xs-12.col-sm-4.mix.all.culture
                        #work-9.work
                            img(src='/images/event/global-game-jam.jpg', alt='work')
                            .work-info
                                h6 Global Game Jam

            section#feed
                .row
                    .col-xs-12.col-sm-6.col-sm-offset-3.intro
                        h2 L'ACTUALITÉ
                        p Suivez l'actualité de l'association sur les réseaux sociaux
                .row
                    .col-md-6.feed-left
                        .fb-page(data-href='https://www.facebook.com/alsace.digitale/', data-tabs='timeline', data-small-header='false', data-adapt-container-width='true', data-hide-cover='false', data-show-facepile='true', data-width='500')
                            blockquote.fb-xfbml-parse-ignore(cite='https://www.facebook.com/alsace.digitale/')
                                a(href='https://www.faceook.com/alsace.digitale/') Alsace Digitale
                    .col-md-6.feed-right
                        a.twitter-timeline(data-lang='fr', data-width='500' data-height='500', href='https://twitter.com/AlsaceDigitale', data-theme='light') Tweets de AlsaceDigitale
                        script(async='', src='//platform.twitter.com/widgets.js', charset='utf-8')


                        

            section#team
                .row
                    .col-xs-12.col-sm-6.col-sm-offset-3.intro
                        h1 L'EQUIPE.
                        p.
                            Alsace Digitale, c'est avant tout une équipe de passionnés qui s'investissent énormément
                            pour animer le tissu économique local. Nos actions sont possibles grâce à l'implication
                            de nos bénévoles.
                        p   A ce titre, nous avons toujours à coeur&nbsp;
                            a(href="http://inscription.alsacedigitale.org/" target="_blank")
                                | d'accueillir toutes les bonnes volontés.

                .container.row
                    .col-xs-12
                        h2.team-title Membres du bureau

                    .col-xs-6.col-sm-6.col-md-3.member <!-- Sébastien Derivaux -->
                        .member-photo
                            .image
                                img(src='/images/team/sebastien.jpg', alt='Sébastien Derivaux')
                            .image-hover
                                img(src='/images/team/sebastien.jpg', alt='Sébastien Derivaux')
                            .member-hover.hidden-xs.hidden-sm
                                .list-container
                                    ul.list-inline.social
                                        li
                                            a(href='http://facebook.com/sebastien.derivaux',target='_blank')
                                                i.icon-facebook.icon-3x
                                        li
                                            a(href='http://twitter.com/SebVentures',target='_blank')
                                                i.icon-twitter.icon-3x
                                        li
                                            a(href='https://www.linkedin.com/in/sebastienderivaux/', target='_blank' )
                                                i.icon-linkedin.icon-3x
                        h5 Sébastien Derivaux
                        p Trésorier-adjoint
                        .list-container.visible-xs.visible-sm
                            ul.list-inline
                                li
                                    a(href='http://facebook.com/sebastien.derivaux',target='_blank')
                                        i.icon-facebook.icon-2x
                                li
                                    a(href='http://twitter.com/SebVentures',target='_blank')
                                        i.icon-twitter.icon-2x
                                li
                                    a(href='https://www.linkedin.com/in/sebastienderivaux/', target='_blank' )
                                        i.icon-envelope.icon-2x
                
                    .col-xs-6.col-sm-6.col-md-3.member <!-- Emmanuelle Ebel-Jost --> 
                        .member-photo
                            .image
                                img(src='/images/team/emmanuelle.jpg', alt='Emmanuelle Ebel-Jost')
                            .image-hover
                                img(src='/images/team/emmanuelle.jpg', alt='Emmanuelle Ebel-Jost')
                            .member-hover.hidden-xs.hidden-sm
                                .list-container
                                    ul.list-inline.social
                                        li
                                            a(href='http://www.linkedin.com/pub/emmanuelle-ebel/14/90/722',target='_blank')
                                                i.icon-linkedin.icon-3x
                                        li
                                            a(href='http://www.adoc-metis.com',target='_blank')
                                                i.icon-link.icon-3x
                        h5 Emmanuelle Ebel-Jost
                        p Vice-présidente "Arts et Culture numérique"
                        .list-container.visible-xs.visible-sm
                            ul.list-inline
                                li
                                    a(href='http://www.linkedin.com/pub/emmanuelle-ebel/14/90/722',target='_blank')
                                        i.icon-linkedin.icon-2x
                                li
                                    a(href='http://www.adoc-metis.com',target='_blank')
                                        i.icon-link.icon-2x

                    .col-xs-6.col-sm-6.col-md-3.member <!-- Florian Fries --> 
                        .member-photo
                            .image
                                img(src='/images/team/florian.jpg', alt='Florian Fries')
                            .image-hover
                                img(src='/images/team/florian.jpg', alt='Florian Fries')
                            .member-hover.hidden-xs.hidden-sm
                                .list-container
                                    ul.list-inline.social
                                        li
                                            a(href='https://facebook.com/florian.fries',target='_blank')
                                                i.icon-facebook.icon-3x
                                        li
                                            a(href='http://twitter.com/FriesFlorian',target='_blank')
                                                i.icon-twitter.icon-3x
                                        li
                                            a(href='https://www.linkedin.com/in/friesflorian',target='_blank')
                                                i.icon-linkedin.icon-3x
                        h5 Florian Fries
                        p Vice-président
                        .list-container.visible-xs.visible-sm
                            ul.list-inline
                                li
                                    a(href='https://facebook.com/florian.fries/',target='_blank')
                                        i.icon-facebook.icon-2x
                                li
                                    a(href='http://twitter.com/FriesFlorian',target='_blank')
                                        i.icon-twitter.icon-2x
                                li
                                    a(href='https://www.linkedin.com/in/friesflorian',target='_blank')
                                        i.icon-linkedin.icon-2x
                
                        
                    .col-xs-6.col-sm-6.col-md-3.member <!-- Yannick Jost --> 
                        .member-photo
                            .image
                                img(src='/images/team/yannick.jpg', alt='Yannick Jost')
                            .image-hover
                                img(src='/images/team/yannick.jpg', alt='Yannick Jost')
                            .member-hover.hidden-xs.hidden-sm
                                .list-container
                                    ul.list-inline.social
                                        li
                                            a(href='http://facebook.com/yannick.jost',target='_blank')
                                                i.icon-facebook.icon-3x
                                        li
                                            a(href='http://twitter.com/yanjost',target='_blank')
                                                i.icon-twitter.icon-3x
                                        li
                                            a(href='http://www.linkedin.com/in/yannickjost',target='_blank')
                                                i.icon-linkedin.icon-3x
                                        li
                                            a(href='http://www.strataggem.com',target='_blank')
                                                i.icon-link.icon-3x
                        h5 Yannick Jost
                        p Trésorier, VP "Hacking &amp; DIY"
                        .list-container.visible-xs.visible-sm
                            ul.list-inline
                                li
                                    a(href='http://facebook.com/yannick.jost',target='_blank')
                                        i.icon-facebook.icon-2x
                                li
                                    a(href='http://twitter.com/yanjost',target='_blank')
                                        i.icon-twitter.icon-2x
                                li
                                    a(href='http://www.linkedin.com/in/yannickjost',target='_blank')
                                        i.icon-linkedin.icon-2x
                                li
                                    a(href='http://www.strataggem.com',target='_blank')
                                        i.icon-link.icon-2x
                

                .container.row

                    .col-xs-6.col-sm-6.col-md-3.member <!-- Yann Klis --> 
                        .member-photo
                            .image
                                img(src='/images/team/yann.jpg', alt='Yann Klis')
                            .image-hover
                                img(src='/images/team/yann.jpg', alt='Yann Klis')
                            .member-hover.hidden-xs.hidden-sm
                                .list-container
                                    ul.list-inline.social
                                        li
                                            a(href='https://www.facebook.com/yannski',target='_blank')
                                                i.icon-facebook.icon-3x
                                        li
                                            a(href='https://twitter.com/yannski',target='_blank')
                                                i.icon-twitter.icon-3x
                                        li
                                            a(href='https://www.linkedin.com/in/yannklis',target='_blank')
                                                i.icon-linkedin.icon-3x
                                        li
                                            a(href='http://scalingo.com/',target='_blank')
                                                i.icon-link.icon-3x
                        h5 Yann Klis
                        p Président
                        .list-container.visible-xs.visible-sm
                            ul.list-inline
                                li
                                    a(href='https://www.facebook.com/yannski',target='_blank')
                                        i.icon-facebook.icon-2x
                                li
                                    a(href='https://twitter.com/yannski',target='_blank')
                                        i.icon-twitter.icon-2x
                                li
                                    a(href='https://www.linkedin.com/in/yannklis',target='_blank')
                                        i.icon-linkedin.icon-2x                                          
                                li                                    
                                    a(href='http://scalingo.com/',target='_blank')
                                        i.icon-link.icon-2x


                    .col-xs-6.col-sm-6.col-md-3.member <!-- Jules Lagadic --> 
                        .member-photo
                            .image
                                img(src='/images/team/jules.jpg', alt='Jules Lagadic')
                            .image-hover
                                img(src='/images/team/jules.jpg', alt='Jules Lagadic')
                            .member-hover.hidden-xs.hidden-sm
                                .list-container
                                    ul.list-inline.social
                                        li
                                            a(href='https://www.linkedin.com/in/juleslagadic/',target='_blank')
                                                i.icon-linkedin.icon-3x
                                        li
                                            a(href='https://www.facebook.com/jules.lagadic',target='_blank')
                                                i.icon-facebook.icon-3x
                        h5 Jules Lagadic
                        p Assesseur
                        .list-container.visible-xs.visible-sm
                            ul.list-inline
                                li
                                    a(href='https://www.linkedin.com/in/juleslagadic/',target='_blank')
                                        i.icon-linkedin.icon-2x
                                li
                                    a(href='https://www.facebook.com/jules.lagadic',target='_blank')
                                        i.icon-facebook.icon-2x

                    .col-xs-6.col-sm-6.col-md-3.member <!-- David Lichtlé --> 
                        .member-photo
                            .image
                                img(src='/images/team/david.jpg', alt='David Lichtlé')
                            .image-hover
                                img(src='/images/team/david.jpg', alt='David Lichtlé')
                            .member-hover.hidden-xs.hidden-sm
                                .list-container
                                    ul.list-inline.social
                                        li
                                            a(href='http://facebook.com/dlichtle',target='_blank')
                                                i.icon-facebook.icon-3x
                        h5 David Lichtlé
                        p Assesseur, VP "Alsace du Sud"
                        .list-container.visible-xs.visible-sm
                            ul.list-inline
                                li
                                    a(href='http://facebook.com/dlichtle',target='_blank')
                                        i.icon-facebook.icon-2x
            

                    .col-xs-6.col-sm-6.col-md-3.member <!-- Rémy Perla --> 
                        .member-photo
                            .image
                                img(src='/images/team/remy.jpg', alt='Rémy Perla')
                            .image-hover
                                img(src='/images/team/remy.jpg', alt='Rémy Perla')
                            .member-hover.hidden-xs.hidden-sm
                                .list-container
                                    ul.list-inline.social
                                        li
                                            a(href='https://www.facebook.com/remy.perla',target='_blank')
                                                i.icon-facebook.icon-3x
                                        li
                                            a(href='https://www.linkedin.com/in/remy-perla/',target='_blank')
                                                i.icon-linkedin.icon-3x
                        h5 Rémy Perla
                        p Assesseur
                        .list-container.visible-xs.visible-sm
                            ul.list-inline
                                li
                                    a(href='https://www.facebook.com/remy.perla',target='_blank')
                                        i.icon-facebook.icon-2x
                                li
                                    a(href='https://www.linkedin.com/in/remy-perla/',target='_blank')
                                        i.icon-linkedin.icon-2x


                .container.row
                    .col-xs-6.col-sm-6.col-md-3.member <!-- Léo Unbekandt --> 
                        .member-photo
                            .image
                                img(src='/images/team/leo.jpg', alt='Léo Unbekandt')
                            .image-hover
                                img(src='/images/team/leo.jpg', alt='Léo Unbekandt')
                            .member-hover.hidden-xs.hidden-sm
                                .list-container
                                    ul.list-inline.social
                                        li
                                            a(href='https://www.facebook.com/leo.nalpskc/',target='_blank')
                                                i.icon-facebook.icon-3x
                                        li
                                            a(href='https://twitter.com/Soulou',target='_blank')
                                                i.icon-twitter.icon-3x
                                        li
                                            a(href='https://fr.linkedin.com/in/leounbekandt/',target='_blank')
                                                i.icon-linkedin.icon-3x
                        h5 Léo Unbekandt
                        p Secrétaire-adjoint
                        .list-container.visible-xs.visible-sm
                            ul.list-inline                                
                                li
                                    a(href='https://www.facebook.com/leo.nalpskc/',target='_blank')
                                        i.icon-facebook.icon-2x
                                li
                                    a(href='https://twitter.com/Soulou',target='_blank')
                                        i.icon-twitter.icon-2x
                                li
                                    a(href='https://fr.linkedin.com/in/leounbekandt/',target='_blank')
                                        i.icon-linkedin.icon-2x

                .container.row
                    .col-xs-12
                        h2.team-title Permanents / Service civique
                
                    .col-xs-6.col-sm-6.col-md-3.member <!-- Sophie Charpentier--> 
                        .member-photo
                            .image
                                img(src='/images/team/sophie.jpg', alt='Sophie Charpentier')
                            .image-hover
                                img(src='/images/team/sophie.jpg', alt='Sophie Charpentier')
                            .member-hover.hidden-xs.hidden-sm
                                .list-container
                                    ul.list-inline.social
                                        li
                                            a(href='mailto:sophie.charpentier@alsacedigitale.org',target='_blank')
                                                i.icon-envelope.icon-3x
                        h5 Sophie Charpentier
                        p Chargée d'espace de coworking
                        .list-container.visible-xs.visible-sm
                            ul.list-inline
                                li
                                    a(href='mailto:sophie.charpentier@alsacedigitale.org',target='_blank')
                                        i.icon-envelope.icon-2x

                    .col-xs-6.col-sm-6.col-md-3.member <!-- Catherine Mosser --> 
                        .member-photo
                            .image
                                img(src='/images/team/catherine.jpg', alt='Catherine Mosser')
                            .image-hover
                                img(src='/images/team/catherine.jpg', alt='Catherine Mosser')
                            .member-hover.hidden-xs.hidden-sm
                                .list-container
                                    ul.list-inline.social
                                        li
                                            a(href='mailto:catherine.mosser@alsacedigitale.org',target='_blank')
                                                i.icon-envelope.icon-3x
                        h5 Catherine Mosser
                        p Coordinatrice de Projets
                        .list-container.visible-xs.visible-sm
                            ul.list-inline
                                li
                                    a(href='mailto:catherine.mosser@alsacedigitale.org',target='_blank')
                                        i.icon-envelope.icon-2x


                    .col-xs-6.col-sm-6.col-md-3.member <!-- Julien Saint-Jean --> 
                        .member-photo
                            .image
                                img(src='/images/team/julien.jpg', alt='Julien Saint-Jean')
                            .image-hover
                                img(src='/images/team/julien.jpg', alt='Julien Saint-Jean')
                            .member-hover.hidden-xs.hidden-sm
                                .list-container
                                    ul.list-inline.social
                                        li
                                            a(href='mailto:julien.saintjean@alsacedigitale.org',target='_blank')
                                                i.icon-envelope.icon-3x
                        h5 Julien Saint-Jean
                        p Animateur de communautés
                        .list-container.visible-xs.visible-sm
                            ul.list-inline
                                li
                                    a(href='mailto:julien.saintjean@alsacedigitale.org',target='_blank')
                                        i.icon-envelope.icon-2x

    

            section#contacts
                .row
                    .col-xs-12.col-sm-6.col-sm-offset-3.intro
                        h1 NOUS CONTACTER
                        p Si vous avez des questions, si vous voulez participer à l'aventure Alsace Digitale, vous pouvez nous contacter par le biais de ce formulaire.
                .row
                    .col-xs-12.col-sm-8.col-sm-offset-2
                        form#contact-form(action='/', method='post')
                            .row
                                .col-xs-12.formContainer
                                    input#name.requiredField(type='text', name='name', value='', placeholder='Nom')
                                .col-xs-12.formContainer
                                    input#email.requiredField.email(type='text', name='email', value='', placeholder='Courriel')
                                .col-xs-12.formContainer
                                    textarea#message.requiredField(name='message', rows='20', cols='30', placeholder='Message')
                                .col-xs-12.formContainer
                                    input#submitted.button(type='hidden', name='submitted', value='SEND')
                                    button#submit.btn(type='submit') Envoyer
                                .col-xs-12.formContainer
                                    p#error.alert(data-alert='data-alert') Merci de remplir correctement le formulaire
                                    p#thanks.alert.alert-success(data-alert='data-alert') Merci. Nous vous répondrons dès que possible.
                                    p#timedout.alert(data-alert='data-alert') La connexion au serveur a échoué.
                                    p#state.alert(data-alert='data-alert')
                .row
                    .col-xs-12.col-sm-6.col-sm-offset-3
                        .contact-info
                            .row
                                .col-sm-4.contact
                                    .icon
                                        a
                                            i.icon-envelope.icon-3x
                                    p contact@alsacedigitale.org
                                .col-sm-4.contact
                                    .icon
                                        a(href='https://maps.google.fr/maps?q=la+plage+digitale+strasbourg&hl=fr&sll=48.599123,7.587081&sspn=1.770983,4.22699&hq=la+plage+digitale&hnear=Strasbourg,+Bas-Rhin,+Alsace&t=m&z=15&iwloc=A', targe='_blank')
                                            i.icon-map-marker.icon-3x
                                    p
                                        | La Plage
                                        br
                                        | Strasbourg
                                .col-sm-4.contact
                                    .icon
                                        a
                                            i.icon-phone.icon-3x
                                    p +33 3.88.41.86.95

            footer
                .row
                    .col-xs-12.col-sm-6.col-sm-offset-3
                        hr
                        #social-profiles
                            ul.centerUl
                                li
                                    a(href="https://www.facebook.com/laplagedigitale", target="_blank" )
                                        i.icon-facebook.icon-2x
                                li
                                    a(href='https://twitter.com/laplagedigitale', target='_blank')
                                        i.icon-twitter.icon-2x
                                li
                                    a
                                        i.icon-instagram.icon-2x
                                li
                                    a
                                        i.icon-flickr.icon-2x
                                li
                                    a(href="https://plus.google.com/112928904090839853310/posts", target="_blank")
                                        i.icon-google-plus.icon-2x
                .row
                    .col-xs-12.col-sm-6.col-sm-offset-3
                        p#copyrights Cotton® Made by digitalcookers™. All rights reserved.
        //
           END FOOTER

        #project-page
            #project-top-bar
                .row
                    .col-xs-2
                        #previous-project
                        #previous-project-name
                    .col-xs-8
                        #close-project
                    .col-xs-2
                        #next-project
                        #next-project-name
            #project
