#project-header
    img(src="/images/event/initiationcode_header.jpg" alt="Play2Code, initiation à la programmation")

#project-details
    .row
        .col-md-3.col-md-offset-1
            h2#project-title Play2Code
            h3#project-motto Initiation à la programmation
            //- p#project-client Prochaine édition : date inconnue
            //- p#project-tags Lieu ???
            a#project-url(href="http://play2code.eu") http://play2code.eu

        .col-md-7
            p.
                Play2Code réunit sous une même bannière les ateliers d’apprentissage à la programmation et au développement informatique à destination des enfants et adolescents, que sont les : Code4Kids (10-14 ans), Coding Club (15-18 ans) Coding Goûter et autres propositions.
                Ces ateliers ont pour vocation de leur apprendre les bases de la programmation et du développement informatique, et ainsi leur permettre de développer un esprit critique et averti sur leur environnement.
            p.
                Lors de ces ateliers, les participants ont l’occasion de créer des jeux vidéo et des animations, qu’ils peuvent ensuite parfaire une fois rentrés chez eux.
                Play2Code permet donc de développer des compétences en informatique, mais également d’être créatif et de travailler de façon autonome. Les ateliers sont basés sur la pédagogie Epitech : chacun avance à son rythme, les participants mobilisent d’abord leurs compétences en suivant des tutoriels sur-mesures et des coachs sont présents pour les aider.

            p.
                Ces événements prennent différentes formes : un atelier chaque mois le mercredi après-midi dans les locaux d’Epitech Strasbourg, des stages de 2 à 3 jours pendant les vacances scolaires et des ateliers ponctuels dans les médiathèques, les centres socio-culturels et les établissements scolaires.
                Tout est entièrement gratuit, afin de permettre à n'importe quelle personne intéressée d’y participer.

            p.
                Les informations et les dates des prochains événements sont disponibles sur le site <a href="http://play2code.eu">http://play2code.eu</a>

                
