#project-header
    img(src="/images/event/initiationcode_header.jpg" alt="Initiation au code Header")

#project-details
    .row
        .col-md-3.col-md-offset-1
            h2#project-title Initiation au code
            //- p#project-client Prochaine édition : date inconnue
            //- p#project-tags Lieu ???
            a#project-url(href="http://codingclub.epitech.eu/inscription-strasbourg.html") http://codingclub.epitech.eu/inscription-strasbourg.html

        .col-md-7
            p.
                Le Coding Club, apprendre tout en s'amusant ! 
            p.
                C'est un atelier régulier qui permet d'initier et de former enfants et ados à la programmation et 
                au développement informatique. De nombreuses activités sont mises en place, entre autres nous avons 
                le développement de jeux vidéo ! Les ateliers d'apprentissage se présentent sous la forme de stages 
                durant les vacances ou de sessions le mercredi ou le samedi. Ils sont animés par des étudiants de 
                l’école Epitech et des membres de l’association Alsace Digitale. Les intervenants disposent tous d'une
                solide expérience dans le domaine afin de vous offrir un encadrement de qualité et le confort nécessaire 
                pour apprendre tout en s'amusant. 
            p.
                La programmation informatique est à la fois un langage et un système logique, l’apprentissage de celle-ci 
                permet donc aux esprits de raisonner de manière différente. Le programme des ateliers est également conçu pour s’adapter au public selon son âge ou ses compétences, 
                jonglant entre des tutoriels de base et d'autres plus complexes.

                
