#project-header
    img(src="/images/event/initiationcode_header.jpg" alt="Play2Code, initiation à la programmation")

#project-details
    .row
        .col-md-3.col-md-offset-1
            h2#project-title Avenir Numérique Alsace
            h3#project-motto Initiation à la programmation
            //- p#project-client Prochaine édition : date inconnue
            //- p#project-tags Lieu ???
            a(href="https://www.facebook.com/ADNumerique") Page Facebook d'Avenir Numérique Alsace
            a(href="https://www.facebook.com/ADNumerique") Page Facebook de Play2Code
            a#project-url(href="http://play2code.eu") http://play2code.eu

        .col-md-7
            p.
                Avenir Numérique Alsace a pour but de valoriser les métiers du numérique auprès des jeunes filles comme des garçons. Cette communauté a pour ambition de réunir et multiplier les échanges entre toutes les bonnes volontés souhaitant participer à la diffusion de la programmation informatique. 
                Play2code rejoint cette communauté et propose des ateliers d’apprentissage à la programmation et au développement informatique à destination des enfants et adolescents leur donnant ainsi la possibilité d’aiguiser leur esprit critique et d’être averti sur leur environnement. 

            p.
                Les ateliers existent sous plusieurs formats: Code4Kids (10-14 ans), Coding Club (15-18 ans) Coding Goûter.
                Cet atelier donne l’opportunité aux participants de concevoir des jeux vidéo et des animations qu’ils peuvent perfectionner une fois rentrés chez eux.
                Ce temps d’apprentissage en informatique représente une formidable occasion d’ouvrir sa pensée créative et d'accroître sa capacité à travailler en autonomie.
                Reposant sur la pédagogie d’Epitech chaque personne avance à son rythme en suivant les tutoriels sur mesure et en étant guidée par un coach. 


            p.
                Ces événements prennent différentes formes : un atelier chaque mois le mercredi après-midi dans les locaux d’Epitech Strasbourg, des stages de 2 à 3 jours pendant les vacances scolaires et des ateliers ponctuels dans les médiathèques, les centres socio-culturels et les établissements scolaires.
                Tout est entièrement gratuit, afin de permettre à n’importe quelle personne intéressée d’y participer.


            p.
                Les informations et les dates des prochains événements sont disponibles sur le site <a href="http://play2code.eu">http://play2code.eu</a>

                
