#project-header
    img(src="/images/event/initiationcode_header.jpg" alt="Initiation au code Header")

#project-details
    .row
        .col-md-3.col-md-offset-1
            h2#project-title Initiation au code
            //- p#project-client Prochaine édition : date inconnue
            //- p#project-tags Lieu ???
            //- a#project-url http://???

        .col-md-7
            p.
                Les technologies de l’information nous entourent et, pour beaucoup d’entre nous, nous dépassent.
                Apprendre à les comprendre et à les maîtriser doit faire partie intégrante de notre apprentissage pour
                affronter le futur sereinement. Devoxx4Kids est l’implémentation sur Strasbourg d’un évènement pratiqué
                à l’échelle mondiale dans la communauté Java. L’objectif est d’initier des enfants et adolescents à la
                programmation pour les amener à regarder d’un oeil plus éclairé leur environnement technologique.

            p.
                Au-delà de l’aspect technique, c’est inciter les jeunes à s’approprier objets technologiques modernes,
                à vouloir les améliorer, pour aller plus loin que la simple posture de consommateur et aller vers celle
                de créateur.

            p.
                Le Devoxx4kids est un évènement qui a pour vocation d’initier à la programmation des enfants de 10 à 14
                ans. L’évènement dure 4 heures, entrecoupé par une pause goûter. L’objectif est d’avoir un cadre amusant
                et studieux pour apprendre une compétence qui devient fort utile pour décrypter le monde dans lequel
                nous vivons.

            p.

                Cet évènement s'inspire d'autres initiatives similaires en Europe et aux Etats-Unis. Vous pourrez, en
                suivant les liens ci-dessous, visualiser des vidéos illustrant celles-ci :

            ul

                li.
                    devoxx4Kids : évènement en Belgique issu d’une conference de dévelopeurs :
                    <a href="http://www.devoxx.com/display/4KIDS/Home">http://www.devoxx.com/display/4KIDS/Home</a>

                li.
                    code.org : initiative américaine pour initier les enfants à la programmation :
                    <a href="http://www.code.org">http://www.code.org</a>

                li.
                    coding gouter : initiative française pour organiser ce type d’évènement :
                    <a href="http://codinggouter.org/">http://codinggouter.org/</a>

            p.
                Les besoins en logistique de l’évènement sont simples, il faut une salle pouvant accueillir une
                vingtaine d’enfants avec un poste informatique par binôme d’enfants et la possibilité de projeter les
                exercices. Un adulte pour 2 binômes seront présent pour encadrer les enfants.  Nous pouvons fournir
                des ordinateurs au besoin.

            p.
                Par la suite nous souhaitons augmenter la partie ludique de l’évènement en rajoutant d’autre matériels
                programmables comme les Lego Mindstorm qui permettent de fabriquer des petits robots.

            p.
                L’évènement est gratuit pour les participants.