doctype html
html
  head
    title= title
    meta(name='viewport', content='width=device-width initial-scale=1')
    link(rel='shortcut icon', href='favicon.ico')
    link(rel='stylesheet', href='/css/bootstrap.css')
    link(rel='stylesheet', href='/css/font-awesome.min.css')
    //link(rel='stylesheet', href='/css/lightbox.css')
    link(rel='stylesheet', href='/css/normalize.css')
    link(rel='stylesheet', href='/css/styles.css')
    link(rel='stylesheet', href='/css/slimbox2.css')
    link(href='/css/site.css', rel='stylesheet' )
    link(href='//cdn-images.mailchimp.com/embedcode/classic-10_7.css', rel='stylesheet', type='text/css')
    script(src='/js/custom.modernizr.js')

  body
    #fb-root
    script.
      (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v2.7&appId=775230809182896";
      fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    block content

    script(src='/js/jquery.js')
    script(src='/js/bootstrap.min.js')
    script(src='/js/imagesloaded.pkgd.min.js')
    script(src='/js/masonry.pkgd.min.js')

    script(src='/js/jquery.mixitup.min.js')
    script(src='/js/jquery.easing.js')
    script(src='/js/jquery.slimbox2.js')

    script(src='/js/idangerous.swiper-1.9.3.js')

    script(src='/js/jquery.timeago.js')
    script(src='/js/tweetable.jquery.js')
    script(src='/js/jquery.flickr.js')
    script(src='/js/jquery.instagram.js')

    script(src='/js/scripts.js')
    script(src='/js/respond.min.js')
    script(type='text/javascript', src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js')
    script(type='text/javascript').
      (function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[5]='MMERGE5';ftypes[5]='text';fnames[6]='MMERGE6';ftypes[6]='text';fnames[8]='MMERGE8';ftypes[8]='text';fnames[11]='MMERGE11';ftypes[11]='text';fnames[3]='MMERGE3';ftypes[3]='text';fnames[4]='MMERGE4';ftypes[4]='text';fnames[7]='MMERGE7';ftypes[7]='text';fnames[9]='MMERGE9';ftypes[9]='text'; /*
      * Translated default messages for the $ validation plugin.
      * Locale: FR
      */
      $.extend($.validator.messages, {
      required: "Ce champ est requis.",
      remote: "Veuillez remplir ce champ pour continuer.",
      email: "Veuillez entrer une adresse email valide.",
      url: "Veuillez entrer une URL valide.",
      date: "Veuillez entrer une date valide.",
      dateISO: "Veuillez entrer une date valide (ISO).",
      number: "Veuillez entrer un nombre valide.",
      digits: "Veuillez entrer (seulement) une valeur numérique.",
      creditcard: "Veuillez entrer un numéro de carte de crédit valide.",
      equalTo: "Veuillez entrer une nouvelle fois la même valeur.",
      accept: "Veuillez entrer une valeur avec une extension valide.",
      maxlength: $.validator.format("Veuillez ne pas entrer plus de {0} caractères."),
      minlength: $.validator.format("Veuillez entrer au moins {0} caractères."),
      rangelength: $.validator.format("Veuillez entrer entre {0} et {1} caractères."),
      range: $.validator.format("Veuillez entrer une valeur entre {0} et {1}."),
      max: $.validator.format("Veuillez entrer une valeur inférieure ou égale à {0}."),
      min: $.validator.format("Veuillez entrer une valeur supérieure ou égale à {0}.")
      });}(jQuery));var $mcj = jQuery.noConflict(true);

