doctype html
html
  head
    title= title
    link(rel='shortcut icon' href='favicon.ico')
    link(rel='stylesheet', href='/css/bootstrap.css')
    link(rel='stylesheet', href='/css/font-awesome.min.css')
    link(rel='stylesheet', href='/css/lightbox.css')
    link(rel='stylesheet', href='/css/normalize.css')
    link(rel='stylesheet', href='/css/styles.css')
    link(rel='stylesheet', href='/css/slimbox2.css')
    link(href='/css/site.css', rel='stylesheet' )
    script(src='/js/custom.modernizr.js')

  body
    block content

    script(src='/js/jquery.js')
    script(src='/js/bootstrap.min.js')
    script(src='/js/imagesloaded.pkgd.min.js')
    script(src='/js/masonry.pkgd.min.js')

    script(src='/js/jquery.mixitup.min.js')
    script(src='/js/jquery.easing.js')
    script(src='/js/jquery.slimbox2.js')

    script(src='/js/idangerous.swiper-1.9.3.js')

    script(src='/js/jquery.timeago.js')
    script(src='/js/tweetable.jquery.js')
    script(src='/js/jquery.flickr.js')
    script(src='/js/jquery.instagram.js')

    script(src='/js/scripts.js')
    script(src='/js/respond.min.js')

