#project-header
    img(src="/images/event/swsxb_header.jpg" alt="Startup WeekEnd Header")

#project-details
    .row
        .col-md-3.col-md-offset-1
            h2#project-title Startup Week-End

            //p <br>Prochaine édition à Mulhouse : Mai 2017
            //a(href="http://swmlh.eu") Site du Startup Weekend Mulhouse

            p <br>Prochaine édition à Strasbourg : 23-25 Novembre 2018
            //a(href="http://www.up.co/communities/france/strasbourg/") Site du Startup Weekend Strasbourg
            a(href="https://www.facebook.com/StartupWeekendStrasbourg/") Page FB du Startup Weekend Strasbourg

        .col-md-7
            p.
                L'entreprise de vos rêves n'existe pas !? Créez-la en 54 h !
                Vous avez une idée ou un projet et vous souhaitez trouver une équipe pour y travailler ? 
                Vous aimeriez collaborer sur un projet innovant et motivant ?
            p.
                Quelle que soit votre spécialité, les Startup Weekend Strasbourg et de Mulhouse vous 
                permettront de vivre une nouvelle expérience entrepreneuriale ! Venez seul ou entre amis 
                pour faire des rencontres et participer à l'élaboration d'un projet ou de votre projet !
            p.
                Startup Weekend est un mouvement d’entrepreneurs actif et confirmé, qui apprennent les bases 
                de la création de startups et du lancement de projet. C’est la plus grande communauté 
                d’entrepreneurs passionnés, comptant plusieurs centaines d’évènements dans autant de villes du 
                monde. 
                Tous les événements Startup Weekend suivent le même principe : chacun peut pitcher son idée de 
                startup et recevoir ensuite les avis des autres participants. Les équipes se forment autour des 
                meilleures idées élues par les participants. Ensuite, c’est le début de 54 heures de brainstorming 
                déchaîné autour de la création d’un business-modèle, de design, de développement, de marketing etc.… 
                entouré par des coachs patients et pertinents. Les coachs sont des professionnels aguerris dans leur 
                domaine de compétence (management, technique, marketing, droit, communication…). 
                Des mini-conferences sont organisées pour inspirées les participants. Les speakers partagent leurs 
                expériences, leurs victoires, mais aussi et surtout, leurs défaites, leurs rebonds.
            p.
                Le tout s’achève par la présentation des projets devant un jury d’experts et d’entrepreneurs qui 
                voteront pour les projets les plus prometteurs. Les lauréats remporteront de quoi faciliter la 
                validation et la création de leur projet.
