#project-header
    img(src="/images/event/swsxb_header.jpg" alt="Startup WeekEnd Header")

#project-details
    .row
        .col-md-3.col-md-offset-1
            h2#project-title Startup Week-End
            p#project-client Prochaine édition : novembre 2014
            p#project-tags Lieu inconnu
            a#project-url http://strasbourg.startupweekend.org

        .col-md-7
            p Please fill in a description