#project-header
    img(src="/images/event/demonight.jpg" alt="Strasbourg Startups Header")

#project-details
    .row
        .col-md-3.col-md-offset-1
            h2#project-title Strasbourg Startups
            p#project-client Prochaine événement : date à définir
            p#project-tags Lieu à définir
            a#project-url http://strasbourg-startups.com

        .col-md-7
            h3 Démo Night
            p.
                Venez découvrir ou présenter des projets de startups de Strabourg et des alentours !
            p.
                Chaque startup dispose de cinq minutes et pas une de plus pour présenter son projet.
                Une plongée concrète dans la fabrique des produits et services émergents. Une vraie performance,
                un vrai show !
            p.
                Pas de blabla, que de la démo !
            h3 Meetups
            p.
                Meetups mensuels