#project-header
    img(src="/images/event/sxbstartups_header.jpg" alt="Strasbourg Startups Header")

#project-details
    .row
        .col-md-3.col-md-offset-1
            h2#project-title Strasbourg Startups
            p#project-client Prochaine événement : date à définir
            p#project-tags Lieu à définir
            a#project-url(href="http://strasbourg-startups.com") http://strasbourg-startups.com
            
        .col-md-7
            p. 
                Strasbourg Startups est une initiative lancée par Alsace Digitale. Divers événements sont organisés 
                tout au long de l’année afin de développer l’écosystème numérique et entrepreneurial en Alsace.
                Le principal objectif est de faire grandir cet écosystème en rassemblant autant des professionnels 
                que des étudiants.
                Strasbourg Startups se concentre autour de trois fondamentaux :
            h3 Démo Night
            p.
                Tous les trimestres, cet événement permet aux nouveaux talents de se faire connaître, de grandir 
                et de prospérer grâce à l’accompagnement de la communauté.
            h3 Meetups
            p.
                Ces réunions mensuelles permettent de rassembler tout le monde autour de sujets centraux pour les 
                startups comme la levée de fonds, le recrutement, le financement ou encore le paiement électronique.
            h3 Founder's Club 
            p. 
                Les créateurs de startups acceptés dans la communauté ont accès à un tchat et une mailing list, qui 
                leur permet d’échanger régulièrement. Quatre fois par an dîners ou workshops sont planifiés et l’un 
                des participants aura l’occasion de présenter son expertise sur un sujet.
