#project-header
    img(src="/images/event/sxbstartups_header.jpg" alt="Strasbourg Startups Header")

#project-details
    .row
        .col-md-3.col-md-offset-1
            h2#project-title French Tech Strasbourg
            h3#project-motto Rassembler et promouvoir la scène startup strasbourgeoise
            a#project-url(href="https://www.frenchtechstrasbourg.com/") https://www.frenchtechstrasbourg.com/
            
        .col-md-7
  
            h3 À PROPOS
            p.
                En créant Strasbourg Startups, notre ambition est de rassembler, animer et faire progresser l'écosystème de startups de Strasbourg et sa région. Notre action a démarré sous l'impulsion d'un petit groupe d'entrepreneurs strasbourgeois et notre groupe grandit depuis au fil des Demo Night successives. Comme cela a été théorisé par Brad Feld dans son livre “Startup Communities: Building an Entrepreneurial Ecosystem in Your City", nous savons que créer cet écosystème prendra du temps, et nous sommes prêts à relever ce défi !

            p
                
            h3 Notre action se concentre autour de 3 fondamentaux 
            p
                strong Une Demo Night par trimestre
            p.
                Une Demo Night est un événement où des startupers, des porteurs de projets, viennent présenter leur projet de produit ou service sous forme de démo de 5 minutes. Pas de slides, pas de blabla, que de la démo !
                C'est un événement fun qui permet aux nouveaux talents d'émerger, de se faire connaître et de commencer à être accompagné par les membres du groupe.
                À l'issue de la Demo Night, les membres du Founder's Club votent pour ou contre l'entrée de chaque startupers dans le groupe. Une vraie cooptation par les pairs !

            p
                strong Des meetups mensuels
            p.
                Si les Demo Night sont des événements exceptionnels, les meetups réguliers permettent d'aborder des sujets intéressants pour les startups et les startupers : la levée de fonds, le recrutement, le financement, le paiement électronique, etc.
            p
                strong Le Founder's Club
            p.
                C'est le groupe des fondateurs de startups qui ont été acceptés dans le groupe. Une mailing list et un tchat permettent d'échanger sur différents sujets. Environ 4 fois par an, nous nous réunissons physiquement, pour un dîner ou un workshop où l'un des membres vient exposer son expertise sur un sujet intéressant pour la communauté.
                
            h3 Les podcasts <a href="https://podcast.ausha.co/bretzel-connect-l-emission-100-french-tech-strasbourg">Bretzel Connect</a>
            p.
                Startupeurs, futurs startupeurs ou simples curieux de l’écosystème startup alsacien, bienvenue sur les ondes de Bretzel Connect, la série de podcasts mitonnés par Catherine Mosser et Virginie Athias, mais surtout assaisonnés par les startups membres de French Tech Strasbourg.
            p.
                Pourquoi Bretzel ? Parce que c’est le symbole version origami de French Tech Strasbourg qui rassemble et promeut la scène startup strasbourgeoise. 
            p.
                Pourquoi Connect ? Parce que c’est une communauté apprenante qui tisse des liens entre ses membres et ceux qui voudraient la rejoindre ou simplement mieux la connaître. Et parce qu’un podcast on s’y connecte quand et où on le veut.
            p.
                Le Bretzel Connect, vous verrez, se consomme au petit-déjeuner, au goûter, à l’apéro et pourquoi pas pendant les fringales des nuits d’insomnie. Il va vous nourrir de retours d’expérience vivants sur des problématiques réelles de la création d’entreprise.
            p.
                A chaque épisode, un membre de la communauté et un invité apportent leurs regards croisés sur un enjeu ciblé, pour que la création de votre startup ne soit plus un casse-tête chinois, ou à tout le moins que vous voyez par quel bout l’attraper.
            p.
                Profitez des conseils de ceux qui l’ont vraiment fait. C’est du 100% vécu, du 100% entrepreneur.