.member p {
  margin-bottom: 1em;
}
section#whoarewe h1 {
  color: #ffffff;
}
section#whoarewe a {
  color: #ffffff;
}
section#whoarewe p {
  color: #222222 !important;
}
section#plage p {
  color: #19304d !important;
}
section#works h1 {
  color: #ffffff;
}
section#works p {
  color: #222222;
}
