.member p {
  margin-bottom: 1em;
}
section#plage h1 {
  color: #ffffff;
}
section#plage a {
  color: #ffffff;
}
section#plage p {
  color: #19304d !important;
}
section#works h1 {
  color: #ffffff;
}
section#works p {
  color: #19304d;
}
